@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    /* Cores */
    --cor-principal: #FFF;
    --cor-secundaria: #000;
    --cor-terciaria: #bebaba;
    /* Fontes */
    --fonte-principal: "Silkscreen", sans-serif;
    /* Configurações */
    font-size: 16px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

button,
input {
    font-family: var(--fonte-principal);
    text-align: center;
    outline: none;
}

button {
    cursor: pointer;
}

#tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(100%, 400px);
    height: max(100dvh, 600px);
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}

section {
    display: none;
    width: 100%;
    height: 100%;
}

/* #tela-morte {
    display: flex;
} */

#tela-jogo {
    display: flex;
}

/* #tela-escolher-nome {
    display: flex;
} */

#tela-escolher-nome,
#tela-escolher-classe,
#tela-jogo,
#tela-morte {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding-top: 2rem;
}

#tela-escolher-nome::before,
#tela-escolher-classe::before,
#tela-jogo::before,
#tela-morte::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(images/fundo-rpg.jpg) center / cover no-repeat;
    filter: blur(3px);
    z-index: -1;
}

#tela-escolher-nome span,
#tela-escolher-classe span,
#tela-morte span {
    font-size: 2rem;
}

#nome,
.avanca-tela {
    width: min(90%, 350px);
    font-size: 1.5rem;
}

#nome {
    height: 50px;
}

.avanca-tela {
    height: 40px;
    border: 1px solid transparent;
    pointer-events: none;
}

#tela-escolher-classe-lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tela-escolher-classe-botao {
    width: 150px;
    height: 30px;
    font-size: 1.3rem;
    line-height: 30px;
    background-color: var(--cor-principal);
    border: 5px solid transparent;
    cursor: pointer;
    transition: .2s;
}

.tela-escolher-classe-botao.selecionado {
    border-color: yellow;
}

#tela-jogo {
    justify-content: space-between;
}

#cabecalho-jogo,
#principal-jogo,
#rodape-jogo {
    width: 100%;
}

#cabecalho-jogo {
    height: 10%;
}

#numero-dias,
#numero-inimigos {
    font-size: 1.2rem;
    font-weight: 700;
}

#numero-dias {
    margin-bottom: .8rem;
}

#principal-jogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

#inimigo,
#jogador {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.barra-de-vida {
    width: 220px;
    height: 25px;
    background-color: var(--cor-terciaria);
    position: relative;
    margin-bottom: .8rem;
}

.vida-restante {
    width: 200px;
    height: 15px;
    top: 50%;
    left: 10px;
    background-color: red;
    position: absolute;
    transition: .3s;
    transform: translateY(-50%);
}

.imagem-personagem {
    width: 80px;
}

#rodape-jogo {
    height: 25%;
    display: flex;
    justify-content: center;
}

#rodape-jogo-menu,
#rodape-jogo-combate,
#rodape-jogo-feiticos,
#rodape-jogo-bolsa {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    align-self: flex-end;
}

#rodape-jogo-menu {
    display: flex;
}

.rodape-jogo-menu-botao,
.rodape-jogo-combate-botao,
.rodape-jogo-feiticos-botao,
.rodape-jogo-bolsa-botao {
    width: calc(50% - 4px);
    height: 50px;
    border: 2px solid var(--cor-secundaria);
    line-height: 50px;
    background-color: var(--cor-terciaria);
    cursor: pointer;
}